aside {
   width: 215px;
   height: 100%;
   background: rgb(175, 175, 175);
   position: fixed;
   top: 0;
   left: 0;
   display: block;
   z-index: 2;
   box-shadow: inset 5px black;
   
}
header {
   height: 35px;
   width: 100%;
   background: ;
   position: fixed;
   top: 0;
   display: block;
   z-index: 3;
   background: palevioletred;
   text-align: right;
}
#displayName {
   color: white;
   font-size: 20px;
   vertical-align: middle;
   letter-spacing: 4px;
   line-height: 35px;
   padding-right: 3px;
   /* font-variant: small-caps; */
   font-family: Arial, Helvetica, sans-serif;
}
#memberCode {
   color: black;
   font-weight: 700;
   font-size: 15px;
   vertical-align: middle;
   letter-spacing: 2px;
   margin-right: 40px;
   font-family: Arial, Helvetica, sans-serif;
   background: white;
   display: inline-block;
   padding: 3px 5px 3px 7px;
   border-radius: 15px;
}
.menuIcon {
   height: 30px;
   width: 30px;
   z-index: 9;
   top: 2.5px;
   right: 2.5px;
   position: fixed;
}


/*
https://www.flaticon.com/packs/basic-application