header {
   height: 35px;
   width: 100%;
   background: ;
   position: fixed;
   top: 0;
   display: block;
   z-index: 4;
   background: rgb(108, 189, 125);
   text-align: right;
   box-shadow: 0px 15px 5px rgba(87, 87, 87, 0.918));
}
#displayName {
   color: white;
   font-size: 15px;
   vertical-align: middle;
   text-decoration: none;
   letter-spacing: 4px;
   line-height: 35px;
   font-weight: 600;
   padding-right: 3px;
   font-family: Arial, Helvetica, sans-serif;
}
#displayName a:link {color: white; text-decoration: none;}
#displayName a:visited {color: white; text-decoration: none;}
#displayName a:active {color: white; text-decoration: none;}
#displayName a:hover {color: white; text-decoration: none;}



#memberCode {
   color: black;
   font-weight: 700;
   font-size: 15px;
   vertical-align: middle;
   letter-spacing: 2px;
   margin-right: 10px;
   font-family: Arial, Helvetica, sans-serif;
   background: white;
   display: inline-block;
   padding: 3px 5px 3px 7px;
   border-radius: 15px;
}



/*
https://www.flaticon.com/packs/basic-application