body {
   background: rgb(170, 202, 216);
   font-family:'Open Sans', sans-serif;
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
}
#background {
   display: flex;
   justify-content: center;
   align-items: center;
}
#panel {
   background: white;
   width: 80%;
   height: 750px;
   display: flexbox;
   align-items: center;
   margin: 25px 30px;
   border-radius: 75px 75px 50px 50px;
   box-shadow: 20px 20px 30px rgba(39, 62, 71, 0.534);
}
h1 {
   font-size: 40px;
   font-weight: 600;
   letter-spacing: 4px;
   padding-left: 20px;
   color: white;
}
#title {
   background: rgb(38, 170, 225);
   border-radius: 50px 50px 0 0;
   padding: 20px;
}
#panelBody {
   padding: 20px;
   font-size: 20px;
   line-height: 25px;
}
b {
   font-weight: bold;
}