/*Header Stuff*/
header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-indent: 2.5%;
    height: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .rainbowborder {
     background: linear-gradient(to right, forestgreen, rgb(64, 169, 235), rgb(150, 67, 150), rgb(150, 25, 25));
     height: 30px;
     max-width: 100%;
     padding: 0px 0px 5px 0px;
     position: static;
 }
.AHeading {
    color: forestgreen;
    font-weight: 900;
    letter-spacing: 3px;
}
    .AHeading a:link {color: forestgreen; text-decoration: none;}
    .AHeading a:hover {color: white; text-decoration: none;}
    .AHeading a:visited {color: forestgreen; text-decoration: none;}
    .AHeading a:active {color: forestgreen; text-decoration: none;}
.UHeading {
    color: rgb(64, 169, 235);
    font-weight: 900;
    letter-spacing: 3px;
}
    .UHeading a:link {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:hover {color: white; text-decoration: none;}
    .UHeading a:visited {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:active {color: rgb(64, 169, 235); text-decoration: none;}
.RHeading {
    color: rgb(150, 67, 150);
    font-weight: 900;
    letter-spacing: 3px;
}
    .RHeading a:link {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:hover {color: white; text-decoration: none;}
    .RHeading a:visited {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:active {color: rgb(150, 67, 150); text-decoration: none;}
.APHeading {
    color: rgb(150, 25, 25);
    font-weight: 900;
    letter-spacing: 3px;
}
    .APHeading a:link {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:hover {color: white; text-decoration: none;}
    .APHeading a:visited {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:active {color: rgb(150, 25, 25); text-decoration: none;}
    .teeny {
        font-size: 5px;
        color: rgba(0, 0, 0, 0);}

.HomeButton {
    position: absolute;
    z-index: 100;
    height: 20px;
    width: 20px; 
    top: 5px;
    right: 10px;
}



/*Card Styling*/

.AestheticsCard {
    width: 350px; 
    height: 500px;
    background-color: forestgreen;
    position: static;
    display: inline-block;
    float: left;
    margin: 20px;
    box-shadow: 10px 5px 5px rgba(0, 100, 0, 0.349);
}
.CardPicture {
    height: 150px;
    width: 350px;
    object-fit: cover;
}
.CardLabel {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 10px;
    width: 250px;
    height: 35px;
    background-color: rgb(195, 247, 195);
    text-align: center;
    vertical-align: 50%;
    letter-spacing: 4px;
    font-variant: small-caps;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AestheticsCardFunction {
    font-size: 25px;
    color: forestgreen;
}