/*Header Stuff*/
header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-indent: 2.5%;
    height: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .rainbowborder {
     background: linear-gradient(to right, forestgreen, rgb(64, 169, 235), rgb(150, 67, 150), rgb(150, 25, 25));
     height: 30px;
     width: 100%;
     padding: 0px 0px 5px 0px;
     z-index: 300;
     position: fixed;
 }
.AHeading {
    color: forestgreen;
    font-weight: 900;
    letter-spacing: 3px;
}
    .AHeading a:link {color: forestgreen; text-decoration: none;}
    .AHeading a:visited {color: forestgreen; text-decoration: none;}
    .AHeading a:active {color: forestgreen; text-decoration: none;}
    .AHeading a:hover {color: white; text-decoration: none;}
.UHeading {
    color: rgb(64, 169, 235);
    font-weight: 900;
    letter-spacing: 3px;
}
    .UHeading a:link {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:visited {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:active {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:hover {color: white; text-decoration: none;}
.RHeading {
    color: rgb(150, 67, 150);
    font-weight: 900;
    letter-spacing: 3px;
}
    .RHeading a:link {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:visited {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:active {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:hover {color: white; text-decoration: none;}
.APHeading {
    color: rgb(150, 25, 25);
    font-weight: 900;
    letter-spacing: 3px;
}
    .APHeading a:link {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:visited {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:active {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:hover {color: white; text-decoration: none;}
.teeny {
        font-size: 5px;
        color: rgba(0, 0, 0, 0);}

.HomeButton {
    position: absolute;
    z-index: 100;
    height: 20px;
    width: 20px; 
    top: 5px;
    right: 10px;
}
.ProfileButton {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 2.5px;
    right: 40px;
    z-index: 320;
}




/*Card Styling*/

.AptitudeCard {
    width: 350px; 
    min-height: 360px;
    background-color: rgb(150, 25, 25);
    position: static;
    display: inline-block;
    float: left;
    margin: 20px 20px 0 20px;
    box-shadow: 10px 5px 5px rgba(58, 15, 15, 0.363);
}
.CardPicture {
    height: 150px;
    width: 350px;
    object-fit: cover;
}
.CardLabel {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 10px;
    width: 250px;
    height: 35px;
    background-color: rgb(238, 149, 149);
    text-align: center;
    vertical-align: 50%;
    letter-spacing: 4px;
    font-variant: small-caps;
    box-shadow: 5px 5px 2.5px rgba(58, 15, 15, 0.363);
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AptitudeCardFunction {
    font-size: 25px;
    color: rgb(150, 25, 25);
}
.FunctionDesc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    color: white;
    font-size: 15px; 
    font-weight: 500;
    padding: 2.5px;
    position: relative;
    left: 10px;
    top: -20px;
    letter-spacing: 1px;
    text-align: left;
    width: 330px;
    font-variant: normal;
}
.traitcards {
    display: inline-block;
    position: relative;
    box-align: right;
    left: 10px;
    top: -20px;
    width: 330px;
    padding-top: 5px;
}
.traitcard {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 0 0;
    font-size: 12.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: normal;
    font-weight: 500px;
    float: right;
    background-color: rgb(104, 40, 40);
    color: rgb(158, 158, 158);
    position: relative;
    letter-spacing: 2px;
    box-shadow: inset 3px 3px 3px rgba(63, 17, 17, 0.637);
}
.traitcard:hover {
    box-shadow: 4px 4px 3px rgba(63, 17, 17, 0.637);
}

.traitcard a:link {color: white; text-decoration: none;}
.traitcard a:visited {color: white; text-decoration: none;}
.traitcard a:active {color: white; text-decoration: none;}
.traitcard a:hover {color: white; text-decoration: none;}

footer {
    margin-top: 10px;
    min-height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: black;
    display: inline-block;
    position: static;
}
