/*Header Stuff*/
header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-indent: 2.5%;
    height: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .rainbowborder {
     background: linear-gradient(to right, forestgreen, rgb(64, 169, 235), rgb(150, 67, 150), rgb(150, 25, 25));
     height: 30px;
     max-width: 100%;
     padding: 0px 0px 5px 0px;
     position: static;
 }
.AHeading {
    color: forestgreen;
    font-weight: 900;
    letter-spacing: 3px;
}
    .AHeading a:link {color: forestgreen; text-decoration: none;}
    .AHeading a:visited {color: forestgreen; text-decoration: none;}
    .AHeading a:active {color: forestgreen; text-decoration: none;}
    .AHeading a:hover {color: white; text-decoration: none;}
.UHeading {
    color: rgb(64, 169, 235);
    font-weight: 900;
    letter-spacing: 3px;
}
    .UHeading a:link {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:visited {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:active {color: rgb(64, 169, 235); text-decoration: none;}
    .UHeading a:hover {color: white; text-decoration: none;}
.RHeading {
    color: rgb(150, 67, 150);
    font-weight: 900;
    letter-spacing: 3px;
}
    .RHeading a:link {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:visited {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:active {color: rgb(150, 67, 150); text-decoration: none;}
    .RHeading a:hover {color: white; text-decoration: none;}
.APHeading {
    color: rgb(150, 25, 25);
    font-weight: 900;
    letter-spacing: 3px;
}
    .APHeading a:link {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:visited {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:active {color: rgb(150, 25, 25); text-decoration: none;}
    .APHeading a:hover {color: white; text-decoration: none;}
    .teeny {
        font-size: 5px;
        color: rgba(0, 0, 0, 0);}

 /*Headings*/
h1 {
    font-size: 30px; 
    text-align: center; 
    letter-spacing: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}
h2 {
    font-size: 25px; text-align: center; margin: 5px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 700; letter-spacing: 5px; color: white; font-variant: small-caps;
}
h3 {
    font-size: 20px; text-align: left;
}
h4 {
    font-size: 15px;
}


 }

 /*Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(56, 56, 56, 0.582);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(95, 95, 95);
    box-shadow: 0 2px rgba(56, 56, 56, 0.582);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(56, 56, 56);
    box-shadow: 0 2px rgba(56, 56, 56, 0.582);
}


 /*Self Cards*/
.ACard {
    float: center;
    max-width: 100%;
    min-width: 95%;
    margin: 15px 15px 7.5px 15px;
    border-radius: 15px;
    background-color: forestgreen;
    display: inline-block;
    box-shadow: inset 3px 5px 10px rgb(18, 53, 18);
}
.UCard {
    float: left;
    max-width: 100%;
    min-width: 95%;
    margin: 7.5px 15px;
    border-radius: 15px;
    background-color: rgb(64, 169, 235);
    display: inline-block;
    box-shadow: inset 3px 5px 10px rgb(42, 74, 94);
}
.RCard {
    float: left;
    max-width: 100%;
    min-width: 95%;
    margin: 7.5px 15px;
    border-radius: 15px;
    background-color: rgb(150, 67, 150);
    display: inline-block;
    box-shadow: inset 3px 5px 10px rgb(63, 37, 63);
}
.APCard {
    float: left;
    max-width: 100%;
    min-width: 95%;
    margin: 7.5px 15px;
    border-radius: 15px;
    background:rgb(150, 25, 25) ;
    display: inline-block;
    box-shadow: inset 3px 5px 10px rgb(78, 25, 25);
}
.Function {
    text-align: left;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-variant: small-caps;
    color: white;
    letter-spacing: 2px;
    text-indent: 15px;
    text-decoration: underline;
}
.FunctionDesc {
    text-indent: 15px;
    margin: 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}






p {
    font-size: 15px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






/* Buttons*/
.AButton {
    display: inline-block;
    border-radius: 20px;
    background-color: forestgreen;
    color: white;
    box-align: center;
    text-decoration: none;
}
.UButton {
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(64, 169, 235);
    color: white;
    box-align: center;
    text-decoration: none;
}
.RButton {
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(150, 67, 150);
    color: white;
    box-align: center;
    text-decoration: none;
}
    
.APButton {
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(150, 25, 25);
    color: white;
    display: inline;
    text-align: center;
    text-decoration: none;
}
